@model IEnumerable<Kartina.Photo>

@{
    ViewBag.Title = "Index";
}

<h2><em>Page Artiste</em></h2>

<table class="table">
  
    <tr>
        <td>
            <img src="@Url.Content("~/Content/Images/femme1.jpeg")" />
            <img src="@Url.Content("~/Content/Images/femme2.jpeg")" />
            <img src="@Url.Content("~/Content/Images/femme3.jpeg")" />
            <img src="@Url.Content("~/Content/Images/nature1.jpeg")" />
            <img src="@Url.Content("~/Content/Images/nature2.jpeg")" />
            <img src="@Url.Content("~/Content/Images/nature3.jpeg")" />
            <img src="@Url.Content("~/Content/Images/noiretblanc1.jpeg")" />
            <img src="@Url.Content("~/Content/Images/noiretblanc2.jpeg")" />
            <img src="@Url.Content("~/Content/Images/noiretblanc3.jpeg")" />
            <img src="@Url.Content("~/Content/Images/urbain1.jpeg")" />
            <img src="@Url.Content("~/Content/Images/urbain1.jpeg")" />
            <img src="@Url.Content("~/Content/Images/urbain3.jpeg")" />
            <img src="@Url.Content("~/Content/Images/vintage1.jpeg")" />
            <img src="@Url.Content("~/Content/Images/vintage2.jpeg")" />
            <img src="@Url.Content("~/Content/Images/vintage3.jpeg")" />
            <img src="@Url.Content("~/Content/Images/voyage1.jpeg")" />
            <img src="@Url.Content("~/Content/Images/voyage2.jpeg")" />
            <img src="@Url.Content("~/Content/Images/voyage3.jpeg")" />
        </td>
    </tr>

</table>
