@model Kartina.User

@{
    ViewBag.Title = "Artiste";
    ViewBag.idPage = "artiste-detail-page";

}


<div id="artiste-detail">

    <h2>@Html.DisplayFor(model => model.Prenom) @Html.DisplayFor(model => model.Nom)</h2>

    <p>@Html.DisplayNameFor(model => model.Biographie)</p>
    <p>@Html.DisplayFor(model => model.Biographie)</p>

</div>

<div class="row">
    @foreach (var item in Model.Photo)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Create","Order",new { id = @Html.DisplayFor(modelItem => item.id) })" class="detailImageLink" title="Commander la photo @Html.DisplayFor(modelItem => item.Titre)">
                    <img src='@Url.Content("~/Content/Images/")@Html.DisplayFor(modelItem => item.Chemin)' alt="@Html.DisplayFor(modelItem => item.Titre)" />
                </a>

                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Titre)</h3>
                    <p class="card-text">A partir de <strong>@Html.DisplayFor(modelItem => item.Prix) €</strong></p>
                    <p class="card-text">Pièces restantes: @Html.DisplayFor(modelItem => item.NbTiragesMax)</p>
                </div>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Retour à la liste", "Index", null, new {id = "returnIndexDetails" })
</p>
