@model Kartina.User

@{
    ViewBag.Title = "Artiste";
}
<div class="black-bg">

</div>
<h2>Artiste</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Civilité)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Civilité)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biographie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biographie)
        </dd>

    </dl>
</div>

<div class="row">
    @foreach (var item in Model.Photo)
    {

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Index","")" id="homelogo">
                    <img src='@Url.Content("~/Content/Images/")@Html.DisplayFor(modelItem => item.Chemin)' class="detailUserImage" alt="@Html.DisplayFor(modelItem => item.Titre)" />
                    </a>
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Titre)</h3>
                        <p class="card-text">Prix :@Html.DisplayFor(modelItem => item.Prix)</p>
                        <p class="card-text">Date de sortie :@Html.DisplayFor(modelItem => item.Date)</p>
                        <p class="card-text">Pièces restantes: @Html.DisplayFor(modelItem => item.NbTiragesMax)</p>
                    </div>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
