@model Kartina.Photo

@{
    ViewBag.Title = "votre photographie d'art";
    ViewBag.idPage = "orderPage";
}

<section class="row">
    <div class="col-sm-6">

        <figure class="orderImageWrapper">
            <img src='@Url.Content("~/Content/Images/")@Html.DisplayFor(model => model.Chemin)' id="first" />
        </figure>
        <hr />
        <capture class="orderImageDetail">
            <hr />
            <h3>
                @Html.DisplayFor(model => model.User.Prenom) @Html.DisplayFor(model => model.User.Nom)
            </h3>
            <span>@Html.DisplayFor(model => model.Titre)</span>
            <p>@Html.DisplayFor(model => model.User.Biographie)</p>
        </capture>
    </div>
    <div class="col-sm-6">
        <h2>Créez votre photographie d'art sur mesure</h2>

        <div id="purchaseProcess">

                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#firstStep"><span>1</span> Format</a>
                    </li>
                    <li class="disabled">
                        <a href="#secondStep"><span>2</span> Finition</a>
                    </li>
                    <li class="disabled">
                        <a href="#thirdStep"><span>3</span> Cadre</a>
                    </li>
                </ul>

                <ul class="tab-content">
                    <li id="firstStep" class="tab-pane fade in active">
                        @using (Html.BeginForm("Finition", "Order",new { Model.id }, FormMethod.Post ))
                        {
                            foreach (var item in Model.Format)
                            {
                                <label id="@("format-" + item.id)" name="format" class="itemWrapper">
                                    @Html.RadioButtonFor(model => model.Format, item.id, new { id = "format-" + item.id })
                                    <strong>@item.Label</strong>
                                    <span>@item.Taille</span>
                                    <span class="itemPrice">@( Model.Prix * item.Coefficient + " €")</span>
                                </label>

                            }

                            <input class="btn btn-themes btn-black next-step" type="submit" value="Etape suivante" />
                        }
                    </li>
                    <li id="secondStep" class="tab-pane fade">

                    </li>
                    <li id="thirdStep" class="tab-pane fade">

                    </li>
                </ul>

        </div>

    </div>

</section>
