@{
    ViewBag.Title = "Home Page";
    ViewBag.idPage = "home";

}

<section class="newCollection">
    <img src="@Url.Content("~/Content/Images/nature2.jpeg")" style="width:100%;" id="front" />
    <div class="textTop-left ">
        <h1>Découvrez notre nouvelle collection</h1>
        <p>
            <a class="btn btn-themes" href="@Url.Action("Index","Photos")" title="Nouvelle collection">
                Explorer &nbsp;<i class="fas fa-angle-right"></i>
            </a>
        </p>
    </div>
</section>

<section id="thumbsCol">
    <div id="thumbsCol-Header">
        <h2>Photographies d'art</h2>
        <p>Œuvres en édition limitée et numérotée avec certificat d'authenticité</p>
    </div>

    <div id="thumbsCol-Content">
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <a href='@Url.Action("Index","Photos")' class="thumbnail">
                    <figure class="detailImageLink" title="">
                        <img src='@Url.Content("~/Content/Images/nature1.jpeg")' alt="" />
                    </figure>

                    <div class="caption text-right">
                        <h3>James Martin </h3>
                        <p>Red apple</p>
                        <p>A partir de 50 €</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="@Url.Action("Index","Photos")" class="thumbnail">
                    <figure class="detailImageLink" title="">
                        <img src='@Url.Content("~/Content/Images/femme1.jpeg")' alt="" />
                    </figure>

                    <div class="caption text-right">
                        <h3>James Martin </h3>
                        <p>Red apple</p>
                        <p>A partir de 50 €</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="@Url.Action("Index","Photos")" class="thumbnail">
                    <figure class="detailImageLink" title="">
                        <img src='@Url.Content("~/Content/Images/nature2.jpeg")' alt="" />
                    </figure>

                    <div class="caption text-right">
                        <h3>James Martin </h3>
                        <p>Red apple</p>
                        <p>A partir de 50 €</p>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-md-4">
                <a href='@Url.Action("Index","Photos")' class="thumbnail">
                    <figure class="detailImageLink" title="">
                        <img src='@Url.Content("~/Content/Images/noiretblanc1.jpeg")' alt="" />
                    </figure>

                    <div class="caption text-right">
                        <h3>James Martin </h3>
                        <p>Red apple</p>
                        <p>A partir de 50 €</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href='@Url.Action("Index","Photos")' class="thumbnail">
                    <figure class="detailImageLink" title="">
                        <img src='@Url.Content("~/Content/Images/urbain1.jpeg")' alt="" />
                    </figure>

                    <div class="caption text-right">
                        <h3>James Martin </h3>
                        <p>Red apple</p>
                        <p>A partir de 50 €</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href='@Url.Action("Index","Photos")' class="thumbnail">
                    <figure class="detailImageLink" title="">
                        <img src='@Url.Content("~/Content/Images/voyage1.jpeg")' alt="" />
                    </figure>

                    <div class="caption text-right">
                        <h3>James Martin </h3>
                        <p>Red apple</p>
                        <p>A partir de 50 €</p>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <a class="btn btn-themes" href="@Url.Action("Index","Photos")" title="Explorer la collection">
        Explorer la collection
    </a>

</section>

<section id="imagesSquare">
    <ul class="row">
        <li class="col-sm-6 square">
            <a href='@Url.Action("Index","Home")' class="content">
                <img src="@Url.Content("~/Content/Images/femme3.jpeg")" id="first" />

            </a>
        </li>
        <li class="col-sm-6 square">
            <a href='@Url.Action("Index","Home")' class="content">

                <img src="@Url.Content("~/Content/Images/nature1.jpeg")" id="sec" />
            </a>
        </li>
        <li class="col-sm-6 square">
            <a href='@Url.Action("Index","Home")' class="content">
                <img src="@Url.Content("~/Content/Images/noiretblanc2.jpeg")" id="thr" />

            </a>
        </li>
        <li class="col-sm-6 square">
            <a href='@Url.Action("Index","Home")' class="content">
                <img src="@Url.Content("~/Content/Images/urbain2.jpeg")" id="four" />
            </a>
        </li>
    </ul>
</section>
