<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="navbar-header container">
                <button type="button" class="navbar-toggle burger" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul id="rightnav" class="navbar-collapse collapse">
                    <li>
                        <a href='@Url.Action("Index","Home")' title="Cliquez ici pour vous connecter">
                            <i class="fas fa-user"></i>
                            <span>Connexion</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index","Home")' title="Comment utiliser Kartina">
                            <i class="far fa-question-circle"></i>
                            <span>Aide</span>
                        </a>
                    </li>
                    <li>
                        <div onclick="openModal();">
                            <img src="@Url.Content("~/Content/Images/site/france-128.png")" class="langFlag" width="14" alt="Français">
                            <span>FR</span>
                        </div>
                    </li>
                    <li>
                        <a href='@Url.Action("Index","Home")' title="Panier Kartina">
                            <i class="fas fa-shopping-cart"></i>
                            <span>Panier</span>
                        </a>
                    </li>
                </ul>

                <a href="@Url.Action("Index","Home")" id="homelogo">
                    <img src='@Url.Content("~/Content/Images/site/logo-w.png")' alt="Home" /><br />
                    <span class="hidden-xs">La photo qu'il vous faut!</span>
                </a>

                <form name="_s" method="get" id="searchbox-wrapper" class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block ">
                    <input id="searchbox" type="search" placeholder="Search..." />
                    <label for="searchbox"><i class="fa fa-search"></i></label>
                </form>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav container">
                    <li>@Html.ActionLink("Photographies", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nouveautés", "Index", "Home")</li>
                    <li>@Html.ActionLink("Artistes", "Index", "Users")</li>
                    <li>@Html.ActionLink("Derniers exemplaires", "Index", "Home")</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div id="footerLangFlag" class="col-sm-2" onclick="openModal();">
                    <img src="@Url.Content("~/Content/Images/site/france-128.png")" class="langFlag" width="14" alt="Français">
                    <span>FR</span>
                </div>

                <ul class="col-sm-8 text-right">
                    <li >
                        <a href="mentionslegales.html" title="Mentions légales">
                            <span>Mentions légales</span>
                        </a>
                    </li>
                    <li>
                        <a href="cgu.html" title="Conditions générales d'utilisation">
                            <span>Conditions générales d'utilisation</span>
                        </a>
                    </li>
                </ul>

                <ul class="col-sm-2 text-right">
                    <li id="social-fb">
                        <a href="https://fr-fr.facebook.com/" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li id="social-tw">
                        <a href="https://twitter.com/?lang=fr" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>